{{#if status.statsContentCache}}
  {{stats-chart
    data = status.statsChartData

    currentIntervalOption = status.currentIntervalOption
    intervalOptions       = status.intervalOptions

    updateIntervalAction = (action 'updateInterval')
  }}
{{else if status.statsProxy.isPending}}
  <p>
    {{t 'routes.index.loading'}}
  </p>
{{else if status.statsProxy.isRejected}}
  <p>
    {{t 'routes.index.error' error=(error status.statsProxy.reason)}}
  </p>
{{/if}}
