{{#if zen.state.stats.content}}
  {{stats-chart
    data   = zen.state.stats.statsChartData
    locale = zen.state.settingsData.locale

    currentIntervalOption = zen.state.stats.currentIntervalOption
    intervalOptions       = zen.state.stats.intervalOptions

    updateIntervalAction = (action 'updateInterval')
  }}
{{else if zen.state.stats.isPending}}
  <p>
    {{t 'routes.index.loading'}}
  </p>
{{else if zen.state.stats.isRejected}}
  <p>
    {{t 'routes.index.error' error=(error zen.state.stats.reason)}}
  </p>
{{/if}}
