<div class = 'route-programsProgram'>



  <h1 class = 'route-programsProgram-title'>
    {{currentProgram.name}}
  </h1>{{! title }}

  <p>isDirty {{currentProgram.hasDirtyAttributes}}</p>



  <div class = 'route-programsProgram-group _stages'>

    <h2>
      {{t 'routes.programs-program.stages'}}
    </h2>

    {{#each currentProgram.stages as |stage|}}
      <div class = 'route-programsProgram-stage'>

        {{#settings-field
          class     = 'route-programsProgram-stage-field'
          fieldName = 'stageName'
          label     = (t 'routes.programs-program.stage.name.label')
        }}
          {{one-way-input
            class    = 'route-programsProgram-stage-field-input'
            disabled = currentProgram.isSaving
            type     = 'text'
            value    = stage.stageName
            update   = (action (mut stage.stageName))
          }}
        {{/settings-field}}{{! stageName }}

        {{#settings-field
          class     = 'route-programsProgram-stage-field'
          fieldName = 'temp'
          label     = (t 'routes.programs-program.stage.temp.label')
        }}
          {{one-way-input
            class    = 'route-programsProgram-stage-field-input'
            disabled = currentProgram.isSaving
            type     = 'number'
            value    = stage.temp
            update   = (action (mut stage.temp))
          }}
        {{/settings-field}}{{! temp }}

        {{#settings-field
          class     = 'route-programsProgram-stage-field'
          fieldName = 'motor'
          label     = (t 'routes.programs-program.stage.motor.label')
        }}
          {{one-way-select currentIntervalOption
            options = (array "on" "off" "onoff")
            value   = stage.motor
            update  = (action (mut stage.motor))
          }}
        {{/settings-field}}{{! temp }}

        {{#settings-field
          class     = 'route-programsProgram-stage-field'
          fieldName = 'duration'
          label     = (t 'routes.programs-program.stage.duration.label')
        }}
          {{one-way-input
            class    = 'route-programsProgram-stage-field-input'
            disabled = currentProgram.isSaving
            type     = 'number'
            value    = stage.duration
            update   = (action (mut stage.duration))
          }}
        {{/settings-field}}{{! duration }}

      </div>{{! route-programsProgram-stage }}
    {{/each}}{{! currentProgram.stages }}

  </div>{{! group _stages }}



  <div class = 'route-programsProgram-group _fields'>

    <h2>
      {{t 'routes.programs-program.settings'}}
    </h2>

    {{#with
      (array
        (hash name='name'                type='text')
        (hash name='maxTempBeforeTimer'  type='number')
        (hash name='maxTempBeforeBaking' type='number')
        (hash name='maxTempAfterBaking'  type='number')
        (hash name='maxTempDurationMins' type='number')
      )
      as |fields|
    }}
      {{#each fields as |field|}}
        {{#settings-field
          class     = 'route-programsProgram-fields-field'
          fieldName = field.name
          label     = (t (concat 'routes.programs-program.fields.' field.name '.label'))
        }}
          {{one-way-input
            class    = 'route-programsProgram-fields-field-input'
            disabled = currentProgram.isSaving
            type     = field.type
            value    = (get currentProgram field.name)
            update   = (action (mut (get currentProgram field.name)))
          }}
        {{/settings-field}}{{! maxTempBeforeTimer }}
      {{/each}}
    {{/with}}

  </div>{{! group _fields }}

  <button
    {{action 'save'}}
    disabled = {{not currentProgram.hasDirtyAttributes}}
  >
    Save
  </button>



</div>{{! route-programsProgram }}
