<div class = 'route-login'>

  <h1 class = 'route-login-title'>
    {{t 'domain.login.login'}}
  </h1>

  <div class = 'route-login-form'>
    {{#if zen.state.session.authenticationIsPending}}

      <span class = 'route-login-form-pendingMessage'>
        {{t 'domain.login.logging-in'}}
      </span>

    {{else}}

      <label>
        {{t 'domain.login.password'}}:
      </label>

      {{input
        class = 'route-login-form-passwordField'
        type  = 'password'
        value = password

        insert-newline = (action 'login')
      }}

      <button
        class = 'route-login-form-submitButton'
        {{action 'login'}}
      >
        {{t 'domain.login.log-in'}}
      </button>
    {{/if}}{{! authentication promise }}

    {{#if (and
      (not zen.state.session.authenticationIsPending)
      zen.state.session.authenticationError
    )}}
      <p class = 'route-login-form-error'>
        {{or
          (t (concat 'errors.' zen.state.session.authenticationError.payload.error.error_code))
          zen.state.session.authenticationError.message
        }}
      </p>
    {{/if}}{{! error }}
  </div>{{! form }}

</div>
