<div class = "route-login">

  <h1 class = "route-login-title">
    {{t 'domain.login.login'}}
  </h1>

  {{#if zen.state.session.authenticationIsPending}}
    {{t 'domain.login.logging-in'}}
  {{else}}
    <label>
      {{t 'domain.login.password'}}:
    </label>

    {{input
      value          = password
      type           = 'password'
      insert-newline = (action 'login')
    }}

    <button
      {{action 'login'}}
    >
      {{t 'domain.login.log-in'}}
    </button>
  {{/if}}

  {{#if zen.state.session.authenticationError}}
    <p>
      {{zen.state.session.authenticationError.error_text}}
    </p>
  {{/if}}

</div>
