<div class = 'route-login'>

  <h1 class = 'route-login-title'>
    {{t 'domain.login.login'}}
  </h1>

  <div class = 'route-login-form'>
    {{#if authProxy.isPending}}

      <span class = 'route-login-form-pendingMessage'>
        {{t 'domain.login.logging-in'}}
      </span>

    {{else}}

      <label>
        {{t 'domain.login.password'}}:
      </label>

      {{input
        class = 'route-login-form-passwordField'
        type  = 'password'
        value = password

        insert-newline = (action 'authenticateSession')
      }}

      <button
        class = 'route-login-form-submitButton'
        {{action 'authenticateSession'}}
      >
        {{t 'domain.login.log-in'}}
      </button>
    {{/if}}{{! authProxy.isPending }}

    {{#if (and
      (not authProxy.isPending)
      authProxy.reason
    )}}
      <p class = 'route-login-form-error'>
        {{error authProxy.reason}}
      </p>
    {{/if}}{{! error }}
  </div>{{! form }}

</div>
