<div class="route-dummyStats">

  <div class="route-dummyStats-lastProgram">
    {{model.last_program}}
  </div>{{! lastProgram }}


  <div class="route-dummyStats-stats">
    {{model.stats}}
  </div>{{! stats }}


  <div class="route-dummyStats-lastStatus">

    <div class="route-dummyStats-lastStatus-time">
      {{model.last_status.time}}
    </div>{{! lastStatus-time }}

    <div class="route-dummyStats-lastStatus-state">
      {{model.last_status.state}}
    </div>{{! lastStatus-state }}

    <div class="route-dummyStats-lastStatus-targetTemp">
      {{model.last_status.target_temp}}
    </div>{{! lastStatus-targetTemp }}

    <div class="route-dummyStats-lastStatus-temp">
      {{model.last_status.temp}}
    </div>{{! lastStatus-temp }}

    <div class="route-dummyStats-lastStatus-motor">
      {{model.last_status.motor}}
    </div>{{! lastStatus-temp }}

    <div class="route-dummyStats-lastStatus-pullup">
      {{model.last_status.pullup}}
    </div>{{! lastStatus-pullup }}

    <div class="route-dummyStats-lastStatus-adc">
      {{model.last_status.adc}}
    </div>{{! lastStatus-adc }}

    <div class="route-dummyStats-lastStatus-res">
      {{model.last_status.res}}
    </div>{{! lastStatus-res }}

    <div class="route-dummyStats-lastStatus-pwm">
      {{model.last_status.pwm}}
    </div>{{! lastStatus-pwm }}

    <div class="route-dummyStats-lastStatus-heat">
      {{model.last_status.heat}}
    </div>{{! lastStatus-heat }}
  </div>{{! lastStatus }}

</div>{{! route-dummyStats }}