{{#settings-field
  fieldName   = fieldName
  label       = label
  description = description

  requestIsPending  = requestIsPending
  requestIsRejected = requestIsRejected

  errorLabel = errorLabel
}}
  <input
    type      = {{type}}
    class     = 'settingsFieldInputButton-input'
    disabled  = {{requestIsPending}}
    value     = {{if (is-nully userInput) defaultValue userInput}}
    oninput   = {{action (mut userInput) value="target.value"}}
  >

  <button
    class    = 'settingsFieldInputButton-submit'
    disabled = {{or requestIsPending (not userInput.length)}}
    {{action submitAction userInput}}
  >
    {{t (if requestIsPending 'domain.forms.saving' 'domain.forms.save')}}
  </button>
{{/settings-field}}{{! maxTempBeforeTimer }}