{{!--
<div class="statsX-stat _time">
  <div class="statsX-stat-label">
    Time
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{moment stats.time}}
  </div>{{! stat-value }}

</div>{{! stat _time }}
--}}


<div class="statsX-stat _state">
  <div class="statsX-stat-label">
    State
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{stats.state}}
  </div>{{! stat-value }}
</div>{{! stat _state }}



<div class="statsX-stat _targetTemp">
  <div class="statsX-stat-label">
    Target temp
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{round stats.targetTemp 2}}
  </div>{{! stat-value }}
</div>{{! stat _targetTemp }}



<div class="statsX-stat _temp">
  <div class="statsX-stat-label">
    Temp
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{round stats.temp 2}}
  </div>{{! stat-value }}
</div>{{! stat _temp }}



<div class="statsX-stat _motor">
  <div class="statsX-stat-label">
    Motor
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{stats.motor}}
  </div>{{! stat-value }}
</div>{{! stat _temp }}




{{!--
<div class="statsX-stat _pullup">
  <div class="statsX-stat-label">
    Pullup
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{stats.pullup}}
  </div>{{! stat-value }}
</div>{{! stat _pullup }}



<div class="statsX-stat _adc">
  <div class="statsX-stat-label">
    ADC
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{stats.adc}}
  </div>{{! stat-value }}
</div>{{! stat _adc }}



<div class="statsX-stat _res">
  <div class="statsX-stat-label">
    Res
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{stats.res}}
  </div>{{! stat-value }}
</div>{{! stat _res }}



<div class="statsX-stat _pwm">
  <div class="statsX-stat-label">
    PWM
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{stats.pwm}}
  </div>{{! stat-value }}
</div>{{! stat _pwm }}
--}}



<div class="statsX-stat _heat">
  <div class="statsX-stat-label">
    Heat
  </div>{{! stat-label }}

  <div class="statsX-stat-value">
    {{stats.heat}}
  </div>{{! stat-value }}
</div>{{! stat _heat }}
