<tr>
  <th>
    {{t 'components.access-points.ssid'}}
  </th>

  <th>
    {{t 'components.access-points.bssid'}}
  </th>

  <th>
    {{t 'components.access-points.signal-strength'}}
  </th>

  <th>
    {{t 'components.access-points.encryption'}}
  </th>

  <th>
  </th>
</tr>


{{#each points as |point|}}
  <tr>
    <td>
      {{point.ssid}}
    </td>

    <td>
      {{point.bsid}}
    </td>

    <td>
      {{point.signalStrength}}
    </td>

    <td>
      {{point.authentication}} / {{point.encryption}}
    </td>

    {{#if (or
      (not-eq currentSSID point.ssid)
      isConnectPending
    )}}
      <td>
        <button
          disabled = {{isConnectPending}}
          {{action connectAction point}}
        >
          {{if
            (and isConnectPending (eq currentSSID point.ssid))
            (t 'components.access-points.connecting')
            (t 'components.access-points.connect')
          }}
        </button>
      </td>
    {{/if}}
  </tr>
{{/each}}
