<div class="route-application">

  <div class="route-application-sidebar">
    {{stats-x status=zen.state.stats.lastStatus}}

    {{ember-chart
      type = 'line'
      data = zen.state.stats.statsChartData
    }}

    {{#if zen.state.session.isAuthenticated}}
      <a
        href
        {{action 'invalidateSession'}}
      >
        Logout
      </a>
    {{else if isAuthenticating}}
      Logging in...
    {{else}}
      {{link-to 'Login' 'login'}}
    {{/if}}
  </div>{{! sidebar }}


  <div class="route-application-content">
    {{outlet}}
  </div>{{! content }}

</div>