<div class="route-application">

  {{#e-q
    class   = "route-application-header"
    tagName = "header"
  }}

    <div class="route-application-header-item _left">
      <h2 class="route-application-title">
        Open Bread Maker
      </h2>
    </div>{{! header-item _left }}

    <div class="route-application-header-item _right">
      <div class = "route-application-menu">
        {{link-to 'Chart' 'index'
          class = "route-application-menu-item _chart"
        }}

        {{#if zen.state.session.isAuthenticated}}
          <span class = "route-application-menu-item _logout">
            Settings
          </span>

          <a
            class = "route-application-menu-item _logout"
            href
            {{action 'invalidateSession'}}
          >
            Logout
          </a>
        {{else}}
          {{link-to 'Login' 'login'
            class = "route-application-menu-item _login"
          }}
        {{/if}}
      </div>{{! menu }}
    </div>{{! header-item _right }}


  {{/e-q}}{{! header }}



  {{#e-q class="route-application-main"}}

    <aside class="route-application-sidebar">
      {{#if (and (not zen.state.stats.statsResponse) zen.state.stats.statsIsPending)}}
        <p>Loading stats...</p>
      {{else if zen.state.stats.statsError}}
        <p>Failed to fetch stats: {{zen.state.stats.statsError}}</p>
      {{else if zen.state.stats.statsResponse}}
        {{stats-x status=zen.state.stats.lastStatus}}
      {{/if}}

      <label class="route-application-autoUpdate">
        {{one-way-checkbox
          checked = zen.state.application.polling
          update  = (action 'updatePolling')
        }}

        Auto-update
      </label>
    </aside>{{! sidebar }}


    <main class="route-application-content">
      {{outlet}}
    </main>{{! content }}

  {{/e-q}}{{! main }}

</div>