{{trigger (action 'didReceiveQueryParams')}}

<div class="route-application">

  <header class = "route-application-header">

    <div class="route-application-header-item _left">
      <h2 class="route-application-title">
        Open Bread Maker
      </h2>
    </div>{{! header-item _left }}

    <div class="route-application-header-item _right">
      <div class = "route-application-menu">
        {{link-to (t 'routes.application.menu.chart') 'index'
          class = "route-application-menu-item _chart"
        }}

        {{#if session.isAuthenticated}}
          {{link-to (t 'routes.application.menu.programs') 'programs'
            class = "route-application-menu-item _programs"
          }}

          {{link-to (t 'routes.application.menu.settings') 'settings'
            class = "route-application-menu-item _settings"
          }}

          <a
            class = "route-application-menu-item _logout"
            href
            {{action 'invalidateSession'}}
          >
            {{t 'domain.login.logout'}}
          </a>
        {{else}}
          {{link-to (t 'domain.login.login') 'login'
            class = "route-application-menu-item _login"
          }}
        {{/if}}
      </div>{{! menu }}
    </div>{{! header-item _right }}

  </header>{{! header }}



  <div class="route-application-main">

    <aside class="route-application-sidebar">
      {{#if status.statsContent}}
        {{stats-x status=status.statsContent.lastStatus}}
      {{else if status.statsProxy.isPending}}
        <p>
          {{t 'routes.application.sidebar.stats-loading'}}
        </p>
      {{else if status.statsProxy.isRejected}}
        <p>
          {{t 'routes.application.sidebar.stats-error' error=(error status.statsProxy.reason)}}
        </p>
      {{/if}}

      <label class="route-application-autoUpdate">
        {{one-way-checkbox
          checked = pollingEffective
          update  = (action 'updatePolling')
        }}

        <span>
          {{t 'routes.application.sidebar.auto-update'}}
        </span>
      </label>
    </aside>{{! sidebar }}


    <main class="route-application-content">
      {{liquid-outlet class = '-horizontal'}}
    </main>{{! content }}

  </div>{{! main }}

</div>