<div class="route-application">

  {{#e-q
    class   = "route-application-header"
    tagName = "header"
  }}

    <div class="route-application-header-item _left">
      <h2>Open Bread Maker</h2>
    </div>{{! header-item _left }}

    <div class="route-application-header-item _right">
      {{link-to 'Chart' 'index'
        class = "route-application-menuItem _chart"
      }}

      {{#if zen.state.session.isAuthenticated}}
        <span class = "route-application-menuItem _logout">
          Settings
        </span>

        <a
          class = "route-application-menuItem _logout"
          href
          {{action 'invalidateSession'}}
        >
          Logout
        </a>
      {{else}}
        {{link-to 'Login' 'login'
          class = "route-application-menuItem _login"
        }}
      {{/if}}
    </div>{{! header-item _right }}


  {{/e-q}}{{! header }}



  {{#e-q class="route-application-main"}}

    <aside class="route-application-sidebar">
      {{stats-x status=zen.state.stats.lastStatus}}
    </aside>{{! sidebar }}


    <main class="route-application-content">
      {{outlet}}
    </main>{{! content }}

  {{/e-q}}{{! main }}

</div>