<h1 class = 'route-settings-title'>
  {{t 'routes.settings.title'}}
</h1>{{! title }}



<div class='route-settings-settingsGroup _baking'>

  <h2 class='route-settings-settingsGroup-title'>
    System
  </h2>

  {{#each (array
    'maxTempBeforeTimer'
    'maxTempBeforeBaking'
    'maxTempAfterBaking'
    'maxTempDurationMins'
  ) as |fieldName|}}
    {{settings-field-input-button
      class     = "route-settings-field"
      fieldName = fieldName
      type      = 'number'

      node         = (get zen.state.settings (concat fieldName 'Component'))
      defaultValue = (get zen.state.settingsData fieldName)

      label       = (t (concat 'routes.settings.fields.' fieldName '.label'))
      description = (t (concat 'routes.settings.fields.' fieldName '.description'))

      requestIsPending  = zen.state.settingsData.globalBakingConfigIsPending
      requestIsRejected = (and
        (eq zen.state.settings.lastUpdatedGBCAttr fieldName)
        zen.state.settingsData.globalBakingConfigIsRejected
      )

      errorLabel = (t
        'routes.settings.error'
        field='globalBakingConfig'
        error=(error zen.state.settingsData.globalBakingConfigError)
      )

      submitAction = (action 'setGlobalBakingConfig' fieldName)
    }}
  {{/each}}{{! fieldName}}
</div>{{! settingsGroup _baking }}



<div class='route-settings-settingsGroup _system'>

  <h2 class='route-settings-settingsGroup-title'>
    System
  </h2>

  {{#settings-field-select
    class = "route-settings-field"

    fieldName   = 'locale'
    label       = (t 'routes.settings.fields.locale.label')
    description = (t 'routes.settings.fields.locale.description')

    requestIsPending  = zen.state.settingsData.miscConfigIsPending
    requestIsRejected = zen.state.settingsData.miscConfigIsRejected

    selected = zen.state.settingsData.locale
    options  = intl.locales

    errorLabel = (t
      'routes.settings.error'
      field='locale'
      error=(error zen.state.settingsData.miscConfigError)
    )

    updateAction = (action (dispatch-action) zen.state.settingsData 'setMiscConfig' 'locale')
    as |locale|
  }}
    {{t (concat 'domain.locale.' locale)}}
  {{/settings-field-select}}{{! locale }}



  {{#settings-field-select
    class = "route-settings-field"

    fieldName   = 'timezone'
    label       = (t 'routes.settings.fields.timezone.label')

    requestIsPending  = zen.state.settingsData.miscConfigIsPending
    requestIsRejected = zen.state.settingsData.miscConfigIsRejected

    selected = zen.state.settingsData.timezone
    options  = timezones

    errorLabel = (t
      'routes.settings.error'
      field='timezone'
      error=(error zen.state.settingsData.miscConfigError)
    )

    updateAction = (action (dispatch-action) zen.state.settingsData 'setMiscConfig' 'timezone')
    as |timezone|
  }}
    {{timezone}}
  {{/settings-field-select}}{{! timezone }}



  {{#settings-field
    fieldName   = 'password'
    label       = (t 'domain.login.password')

    requestIsPending  = zen.state.settingsData.passwordIsPending
    requestIsRejected = zen.state.settingsData.passwordIsRejected

    errorLabel = (t
      'routes.settings.error'
      field='password'
      error=(or zen.state.settingsData.passwordError.error_text zen.state.settingsData.passwordError)
    )
  }}
    <label class='route-settings-setting-label'>
      {{t 'domain.login.old-password'}}
    </label>

    {{one-way-input
      type   = 'password'
      value  = zen.state.settings.oldPasswordUserInput
      update = (action
        (dispatch-set)
        zen.state.settings
        'old password user input'
        'oldPasswordUserInput'
      )
    }}

    <label class='route-settings-setting-label'>
      {{t 'domain.login.new-password'}}
    </label>

    {{one-way-input
      type   = 'password'
      value  = zen.state.settings.newPasswordUserInput
      update = (action
        (dispatch-set)
        zen.state.settings
        'new password user input'
        'newPasswordUserInput'
      )
    }}

    <button
      {{action
        (dispatch-action)
        zen.state.settingsData
        'setPassword'
        zen.state.settings.oldPasswordUserInput
        zen.state.settings.newPasswordUserInput
      }}
    >
      {{t 'domain.forms.save'}}
    </button>
  {{/settings-field}}{{! password }}



</div>{{! settingsGroup _system }}

