<h1 class = 'route-settings-title'>
  {{t 'routes.settings.title'}}
</h1>{{! title }}



<div class='route-settings-settings'>

  <div class='route-settings-setting _locale'>
    <div class='route-settings-setting-inner'>
      <label class='route-settings-setting-label'>
        {{t 'routes.settings.language'}}
      </label>

      {{#power-select
        class    = 'route-settings-setting-field'
        tagName  = 'div'
        selected = zen.state.settings.localeResponse
        options  = intl.locales
        onchange = (action (dispatch-action) zen.state.settings 'setLocale')
        as |locale|
      }}
        {{t (concat 'domain.locale.' locale)}}
      {{/power-select}}
    </div>

    {{#if zen.state.settings.localeIsPending}}
      <div class='route-settings-setting-status'>
        {{t 'routes.settings.updating'}}
      </div>
    {{else if zen.state.settings.localeIsRejected}}
      <div class='route-settings-setting-status'>
        {{t 'routes.settings.error' field='locale' error=zen.state.settings.localeError}}
      </div>
    {{/if}}
  </div>{{! setting _locale}}

  <div class='route-settings-setting _timezone'>
    <div class='route-settings-setting-inner'>
      <label class='route-settings-setting-label'>
        {{t 'routes.settings.timezone'}}
      </label>

      {{#power-select
        class    = 'route-settings-setting-field'
        tagName  = 'div'
        selected = zen.state.settings.timezoneResponse
        options  = timezones
        onchange = (action (dispatch-action) zen.state.settings 'setTimezone')
        as |timezone|
      }}
        {{timezone}}
      {{/power-select}}
    </div>

    {{#if zen.state.settings.timezoneIsPending}}
      <div class='route-settings-setting-status'>
        {{t 'routes.settings.updating'}}
      </div>
    {{else if zen.state.settings.timezoneIsRejected}}
      <div class='route-settings-setting-status'>
        {{t 'routes.settings.error' field='timezone' error=zen.state.settings.timezoneError}}
      </div>
    {{/if}}
  </div>{{! setting _timezone}}

</div>{{! settings }}

