<h1 class = 'route-preferences-title'>
  {{t 'routes.settings.title'}}
</h1>{{! title }}



<div class='route-preferences-settings'>

  <div class='route-preferences-setting _locale'>
    <div class='route-preferences-setting-inner'>
      <label class='route-preferences-setting-label'>
        {{t 'routes.settings.language'}}
      </label>

      {{#power-select
        class    = 'route-preferences-setting-field'
        tagName  = 'div'
        selected = zen.state.settings.localeResponse
        options  = intl.locales
        onchange = (action (dispatch-action) zen.state.settings 'setLocale')
        as |locale|
      }}
        {{t (concat 'domain.locale.' locale)}}
      {{/power-select}}
    </div>

    {{#if zen.state.settings.localeIsPending}}
      <div class='route-preferences-setting-status'>
        {{t 'routes.settings.updating'}}
      </div>
    {{else if zen.state.settings.localeIsRejected}}
      <div class='route-preferences-setting-status'>
        {{t 'routes.settings.error'
            field='locale'
            error=(or zen.state.settings.localeError.error_text zen.state.settings.localeError)
        }}
      </div>
    {{/if}}
  </div>{{! setting _locale}}

  <div class='route-preferences-setting _timezone'>
    <div class='route-preferences-setting-inner'>
      <label class='route-preferences-setting-label'>
        {{t 'routes.settings.timezone'}}
      </label>

      {{#power-select
        class    = 'route-preferences-setting-field'
        tagName  = 'div'
        selected = zen.state.settings.timezoneResponse
        options  = timezones
        onchange = (action (dispatch-action) zen.state.settings 'setTimezone')
        as |timezone|
      }}
        {{timezone}}
      {{/power-select}}
    </div>

    {{#if zen.state.settings.timezoneIsPending}}
      <div class='route-preferences-setting-status'>
        {{t 'routes.settings.updating'}}
      </div>
    {{else if zen.state.settings.timezoneIsRejected}}
      <div class='route-preferences-setting-status'>
        {{t 'routes.settings.error'
            field='timezone'
            error=(or zen.state.settings.timezoneError.error_text zen.state.settings.timezoneError)
        }}
      </div>
    {{/if}}
  </div>{{! setting _timezone}}

  <div class='route-preferences-setting _password'>
    <div class='route-preferences-setting-inner'>
      <label class='route-preferences-setting-label'>
        {{t 'domain.login.old-password'}}
      </label>

      {{one-way-input
        type   = 'password'
        value  = zen.state.preferences.oldPasswordUserInput
        update = (action
          (dispatch-set)
          zen.state.preferences
          'old password user input'
          'oldPasswordUserInput'
        )
      }}

      <label class='route-preferences-setting-label'>
        {{t 'domain.login.new-password'}}
      </label>

      {{one-way-input
        type   = 'password'
        value  = zen.state.preferences.newPasswordUserInput
        update = (action
          (dispatch-set)
          zen.state.preferences
          'new password user input'
          'newPasswordUserInput'
        )
      }}

      <button
        {{action
          (dispatch-action)
          zen.state.settings
          'setPassword'
          zen.state.preferences.oldPasswordUserInput
          zen.state.preferences.newPasswordUserInput
        }}
      >
        {{t 'domain.forms.update'}}
      </button>
    </div>

    {{#if zen.state.settings.passwordIsPending}}
      <div class='route-preferences-setting-status'>
        {{t 'routes.settings.updating'}}
      </div>
    {{else if zen.state.settings.passwordIsRejected}}
      <div class='route-preferences-setting-status'>
        {{t 'routes.settings.error'
            field='password'
            error=(or zen.state.settings.passwordError.error_text zen.state.settings.passwordError)
        }}
      </div>
    {{/if}}
  </div>{{! setting _password}}

</div>{{! settings }}

